
body{
    background-color: whitesmoke;
}
.todo-list{
    padding: 30px;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.15),
        0 10px 0 -5px rgb(173, 47, 47),
        0 20px 0 -10px #eee,
        0 10px 1px 4px rgba(0,0,0,0,15),
        0 10px 1px 4px rgba(0,0,0,0,15);
    flex-direction: column;
    display:flex;
    background-color: white;
    //margin: auto;
    width: 50%;
    border: 1px solid #efefef;
}
.todo-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid ;
    color: #333333
}

input[type=checkbox]{
    margin-right: 10px;
}